@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url(./header.css);
@import url(./content.css);
@import url(./footer.css);

:root {
  --primary-color-1: #c194ff;
  --primary-color-1-dark: #8d62c9;
  --primary-color-2: #fffc94;
  --primary-color-3: #d0caf8;
  --primary-color-4: #beff94;
  --primary-color-5: #ffb194;
  --gray: #020101;
  --light-gray: #f7f7f7;
}

* {
  border: 0;
  box-sizing: border-box;
  color: var(--gray);
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: var(--gray);
}

body {
  background-color: var(--primary-color-3);
}

@media screen and (min-device-width: 992px) {
  body {
    height: 100vh;
    padding: 0 15%;
  }
}
