.footer {
  bottom: 5px;
  position: fixed;
  width: 100%;
}

.footer__text {
  font-size: .9rem;
  text-align: center;
}

.footer__socials-link {
  color: var(--primary-color-1-dark);
  text-decoration: underline;
}

@media screen and (min-device-width: 702px) {
  .footer {
    bottom: 15px;
    width: 70%;
  }

  .footer__text {
    font-size: 1.2rem;
  }
}